/* Css file for custom Radio Button in Sidebar.jsx - used for units setup */
.radio{
    display: inline-flex;
    overflow: hidden;
    /* border-radius: 15px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.radio__input{
    display: none;
}

.radio__label{
    padding: 8px 14px;
    font-size: 14px;
    /* font-family: sans-serif; */
    color: #FFF;
    background: rgba(51, 51, 51, .5);
    cursor: pointer;
    transition: background 0.1s;
}

.radio__label:not(:last-of-type){
    border-right: 0.1px solid #FFF;
}

.radio__label {
    padding: 8px 14px;
    font-size: 14px;
    /* font-family: sans-serif; */
    color: #FFF;
    background: rgba(51, 51, 51, .5);
    cursor: pointer;
    transition: background 0.1s;
}

.radio__input:checked + .radio__label{
    background: rgba(51, 51, 51, 1);
}  

input:focus {
    outline: none !important;
    /* border:1px solid red; */

    /* box-shadow: 0 0 10px #719ECE; */
}